# ==========================================
# SignalBox
# ==========================================

# Persistence
#
# Available:
#   json   - Store persistent data locally in ./data
#   mysql  - Store persistent data in MySQL
#
# Defaults to json if omitted.
PERSISTENCE_PROVIDER=json

# ==========================================
# MySQL
# ==========================================
#
# Only required when PERSISTENCE_PROVIDER=mysql

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=signalbox
MYSQL_USER=signalbox
MYSQL_PASSWORD=

# ==========================================
# Discord
# ==========================================

DISCORD_TOKEN=

# -----------------------------Other SignalBox configuration-----------------------------

# ==========================================
# Automation IDs
# ==========================================

# ROLES

MODERATOR_ROLE_ID=
SUPPORT_ROLE_ID=
MC_MOD_ROLE_ID=
MANAGER_ROLE_ID=

#Channels/Categories

SUPPORT_CHANNEL_ID=
MC_SERVER_CATEGORY_ID=
MC_SUGGESTIONS_CHANNEL_ID=

# ==========================================
# Permissions Role IDs
# ==========================================

BASIC_COMMANDS_ROLE_ID=
ADVANCED_COMMANDS_ROLE_ID=
APPLICATION_APROVAL_ROLES=
APPROVED_APPLICATION_ROLE_ID=

# ==========================================
# Strike Automation Role IDs
# ==========================================

STRIKE_1_ROLE=
STRIKE_2_ROLE=
STRIKE_3_ROLE=

# ==========================================
# Log Channel IDs
# ==========================================

STARTUP_LOGS_CHANNEL_ID=
MODERATION_LOGS_CHANNEL_ID=
APPLICATION_REVIEW_CHANNEL_ID=

# ==========================================
# Minecraft Server Whitelist Configuration
# ==========================================

MINECRAFT_RCON_HOST= # Your Minecraft server IP address (e.g., 127.0.0.1 or mc.example.com)
MINECRAFT_RCON_PORT= # RCON port (default is 25575)
MINECRAFT_RCON_PASSWORD= # RCON password configured in server.properties
